#playField {
    position: absolute;
    border: 2px solid;
    width: 600px;
    height: 600px;
    margin-left: 30%;
    z-index: 0;
}

#textBox {
    position: absolute;
    background-color: blue;
    color: white;
    width: 600px;
    margin-top: 450px;
    height: 25%;
    border: 5px solid black;
    z-index: 8;
    font-size: 24px;
}

#npcSpritePosition {
    position: absolute;
    width: 200px;
    height: 66%;
    margin-top: 200px;
    z-index: 4;
}

#npcSpritePosition > * {
    height: 100%;
}

#mainSprite > * {
    position: absolute;
    width: 600px;
    height: 600px;
    z-index: 3;
}

#eventSprite {
    position: absolute;
    z-index: -1;
}

#userSprite > * {
    position: absolute;
    width: 60px;
    height: 90px;
    z-index: 3;
}

.spriteImg {
    height: 100px;
}

.cont {
    border: 2px solid;
}

.charName {
    position: absolute;
    margin-left: 120px;
    margin-top: -90px;
}

.charLevel {
    position: relative;
    float: right;
    margin-left: 10px;
    margin-top: -10px;
}

.health {
    background-color: lightgreen;
}
.stamina {
    background-color: #0dc9ff;
}

.emptySpace {
    padding-left: 10px;
    padding-right: 10px;
}

.middlerow {
    position: absolute;
    margin-top: -50px;
    margin-left: 120px;
}

.middlerow > * {
    position: relative;
    float: left;
    margin-right: 10px;
}

.thirdrow {
    position: absolute;
    margin-top: -30px;
    margin-left: 120px;
}

.thirdrow > * {
    position: relative;
    float: left;
    margin-right: 10px;
}

.rightrow {
    float: right;
}
.moverow {
    margin-top: 10px;
}

.modal-xlg {
    width: 130%;
}

.fourthrow {
    margin-left: 120px;
    margin-top: -15px;
}

.firstTD {
    border: 2px solid red;
}

.itemImg {
    height: 75px;
}

#cardDiv {
    height: 200px;
    background-color: lightgoldenrodyellow;
}

#cardSpriteDiv {
    position: relative;
    height: 20%;
    float: right;
}

#cardSprite {
    position: relative;
    height: 200px;
}

#cardName {
    font-size: 30px;
}

.genderButton {
    height: 200px;
}

.tutorialSprite {
    z-index: -1;
}

#maleSprite {
    z-index: 20;
}

#femaleSprite {
}

#battlePlayfield {
    border: 2px solid;
    position: absolute;
    width: 600px;
    height: 600px;
    margin-left: 30%;
    z-index: 0;
}

#buttonBar {
    width: 600px;
    height: 100px;
    margin-top: 450px;
}

.battleBtn {
    height: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 50%;
    float: left;
}

.battleSprite {
    height: 175px;
    width: 125px;
}

#trainerSpriteDiv {
    margin-top: 150px;
    margin-left: 75px;
}

#rivalSpriteDiv {
    margin-left: 400px;
    margin-top: 150px;
}

#trainerSprite {
    height: 200px;
}
#rivalSprite {
    transform: scaleX(-1);
    height: 200px;
}
.battleBar {
    height: 100px;
    width: 250px;
    background-color: beige;
}

#trainerBar > *,
#rivalBar > * {
    font-size: 20px;
}

#rivalBar {
    margin-left: 350px;
}

#battleText {
    height: 100px;
    width: 600px;
    background-color: #9fcdff;
    font-size: 20px;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    margin-top: 500px;
}

#trainerSide > *,
#rivalSide > *,
#battleText > * {
    position: absolute;
}

#tLevel,
#tStBar {
    float: right;
    margin-top: -30px;
    margin-left: -10px;
}

#rLevel,
#rStBar {
    float: right;
    margin-top: -30px;
    margin-left: -10px;
}

.atkCommand {
    border: 1px solid;
    width: 230px;
}
